<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package test suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix="ServiceProvider.php">src/</directory>
                <directory suffix="Facade.php">src/</directory>
                <directory suffix="helpers.php">src/</directory>
                <directory>src/data</directory>
                <directory>src/Console</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
